.Header  a {
    color: var(--blue-black);
    font-weight: 500;
    transition: color 0.5s;
}
  
.Header  a:hover {
    color: var(--blue-sky-dark);
}
  
.Header :hover a,
.Header  a {
    text-decoration: none;
}